<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue練習</title>

    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
<div class="container" id="content">
    <h1>練習使用Vue取得取得GitHub API</h1>

    <!-- input group -->
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="請輸入搜尋帳號" aria-label="Recipient's username" aria-describedby="button-addon2" v-model="name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="getRepos">取得</button>
        </div>
      </div>

      <h4>
          {{name}}的資料庫：
      </h4>

      <!-- list group -->
      <ul class="list-group">
        <li class="list-group-item" v-for="r in repos">
            {{r.name}}
        </li>
      </ul>
</div>

    <!-- Vue.js CDN -->
    <!-- 開發版本：控制台提示 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 產品版本：速度快檔案小 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- Axios CDN 非同步處理 AJAX 套件 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="vue.js"></script>
</body>

</html>